.about {
  padding: 50px 0;
}

.about__list {
}
.about__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.about__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.about__text {
  color: $color-text;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.03em;
}
.about__icon--container {
  background-color: $color-background;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
}
.about__icon {
  height: 70px;
  width: 70px;
}
