.logo {
  font-family: $logo-font-family;
  color: $color-accent;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo__themelabel {
  color: $color-title;
}
.logo--footer {
  margin-right: 0;
  display: inline-block;
}
