.page-header {
  background-color: $color-main;
  position: relative;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-mobile {
  padding: 0;
  margin: 0;
  border: none;
  display: inline-flex;
  background-color: transparent;
}
.menu-mobile .menu-mobile__close {
  display: none;
}
.menu-mobile.is-open .menu-mobile__close {
  display: block;
}
.menu-mobile.is-open .menu-mobile__menu {
  display: none;
}
.header-menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $color-main;
  height: 390px;

  display: none;
  z-index: 5;

  &.is-open {
    display: block;
  }
}

.navigation__link {
  color: $color-title;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  transition: color $time-hover $cubic-for-all;

  &:focus,
  &:hover {
    color: $color-accent;
  }
}
.contact__link {
  color: $color-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}
.navigation__list {
}
.navigation__item:not(:last-child),
.contact__item:not(:last-child) {
}

.contact {
}
.navigation__link--accent {
  color: $color-accent;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $color-accent;
    border-radius: 2px;
  }
}
.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
